<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Adventurers of Otium</title>
    <link rel="icon" type="image/png" href="img/favicon.png">

    <script src="./js/lib/jquery.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/alertify.min.css" />
    <!-- <link rel="stylesheet" href="css/bootstrap-glyphicons.min.css" /> -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Alertify Bootstrap theme -->
    <link rel="stylesheet" href="css/alertify.bootstrap.min.css" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap.slate.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <!--This sets the baseUrl to the "scripts" directory, and
    loads a script that will have a module ID of 'main'-->
    <script data-main="js/app/idle-game-2.js" src="js/require.js"></script>
</head>

<body>
    <div class="container">
        <div class="row" id="AdventurersGame">
            <h1>Adventurers of <span @click="cheat()">O</span>tium</h1>
            <p>Adventurering is dangerous. Hire someone else to do it for you! <a href="#" @click="reset()">Reset the game</a></p>
            <div class="col-md-4">
                <h2>Coins and stuff</h2>
                <div>Coins: {{coins}}</div>
                <div>Reknown: {{reknownText()}} <span class="text-muted">({{reknown}})</span></div>

                <h2>Hired Adventurers</h2>
                <div v-for="adventurer in adventurers">
                    <div>{{adventurer.plural}}: {{getHiredCount(adventurer.name)}}<span class="text-muted">+{{getAdventurersOnTheJob(adventurer.name)}}</span></div>
                    <!--<button type="button" class="btn btn-primary btn-xs" @click="hire(adventurer.name)" :disabled="!canHire(adventurer.name)">Hire a {{adventurer.name}} ({{getCost(adventurer.name)}} coins)</button>-->
                </div>
                <h2>Expeditions</h2>

                <h3>Completed ({{completedExpeditions.length}}) <button v-if="!lessthan(completedExpeditions.length, 1)" type="button" class="btn btn-success pull-right" @click="claimAllCompletedExpeditions()">Claim All</button></h3>
                <transition-group name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="noOutAnimation">
                    <div v-for="expedition in completedExpeditions" key="expedition.id">
                        <div class="well">
                            <h4>{{expedition.contract.name}}
                                <button v-if="expedition.success" type="button" class="btn btn-success pull-right" @click="claimReward(expedition)">
                                    Claim!
                                    <div v-if="expedition.contract.contractAmount != undefined">{{expedition.contract.contractAmount}} coins</div>
                                    <div v-for="reward in expedition.rewards">
                                        {{reward.amount}} {{reward.type}}
                                    </div>
                                </button>
                                <button v-if="!expedition.success" type="button" class="btn btn-danger pull-right" @click="removeExpedition(expedition)">Darnation!</button>
                            </h4>
                            <div>
                                <span>{{expedition.completionMessage}}</span>
                                <span class="text-success">{{expedition.upgradeMessages}}</span>
                                <span class="text-warning">{{expedition.deathMessage}}</span>
                                <span class="text-danger">{{expedition.deathMessages}}</span>
                            </div>
                        </div>
                    </div>
                </transition-group>

                <h3>Running ({{runningExpeditions.length}})</h3>
                <transition-group name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="noOutAnimation">
                    <div v-for="expedition in runningExpeditions" key="expedition.id">
                        <div class="well">
                            <h4>{{expedition.contract.name}}</h4>
                            <div v-for="adventurerType in expedition.adventurers" key="adventurerType.type">
                                {{adventurerType.amount}} {{adventurerType.type}}
                            </div>
                            <div>{{readableTime(expedition.expires - Date.now())}} remaining</div>
                        </div>
                    </div>
                </transition-group>
            </div>

            <div class="col-md-8">
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" v-bind:class="{ 'btn-success': canRelocateDown(), 'btn-primary': !canRelocateDown() }" @click="relocateDown()" :disabled="!canRelocateDown()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </div>
                <div class="col-md-10">
                    <h2>
                        {{location.name}}
                        <button type="button" class="btn btn-primary pull-right" v-bind:class="{ 'btn-success': canGetFreeCoins(), 'btn-primary': !canGetFreeCoins() }" @click="freeCoins(location)" :disabled="!canGetFreeCoins()">{{location.freeCoinsDescription}}</button>
                    </h2>
                    <span>{{location.description}}</span>
                </div>
                <div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default" v-bind:class="{ 'btn-success': canRelocateUp(), 'btn-primary': !canRelocateUp() }" @click="relocateUp()" :disabled="!canRelocateUp()">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <span class="glyphicons glyphicons-chevron-left"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Contracts ({{location.availableContracts.length}}/5)</h3>
                    <transition-group name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="noOutAnimation">
                        <div v-for="contract in location.availableContracts" key="contract.name">
                            <div class="well">
                                <h4>{{contract.name}} <button type="button" class="btn btn-sm pull-right" v-bind:class="{ 'btn-success': canSendExpedition(contract), 'btn-primary': !canSendExpedition(contract) }" @click="sendExpedition(contract)" :disabled="!canSendExpedition(contract)">Start</button>
                                </h4>
                                <div v-if="contract.contractAmount != undefined">{{contract.contractAmount}} coins</div>
                                <div v-if="contract.requirements != undefined">
                                    <div v-for="adventurerRequirement in contract.requirements.adventurers">
                                        {{adventurerRequirement.amount}} {{adventurerRequirement.type}} <span v-bind:class="{ 'text-danger': lessthan(getHiredCount(adventurerRequirement.type), adventurerRequirement.amount), 'text-success': !lessthan(getHiredCount(adventurerRequirement.type), adventurerRequirement.amount) }">({{getHiredCount(adventurerRequirement.type)}}/{{adventurerRequirement.amount}})</span>
                                    </div>
                                </div>
                                <div v-bind:class="{ 'text-danger': expiringDanger(contract.expires), 'text-warning': expiringWarning(contract.expires), 'text-success': expiringSuccess(contract.expires) }">{{readableTime(contract.expires - Date.now())}} remaining</div>
                            </div>
                        </div>
                    </transition-group>
                </div>

                <div class="col-md-6">
                    <h3>Adventurers for hire ({{location.availableHires.length}}/5)</h3>
                    <transition-group name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="noOutAnimation">
                        <div v-for="adventurer in location.availableHires" key="adventurer.name">
                            <div class="well">
                                <h4>{{adventurer.name}} <button type="button" class="btn btn-sm pull-right" v-bind:class="{ 'btn-success': canHire(adventurer.name), 'btn-primary': !canHire(adventurer.name) }" @click="hire(adventurer)" :disabled="!canHire(adventurer.name)">Hire ({{getCost(adventurer.name)}} coins)</button>
                                </h4>
                                <div v-bind:class="{ 'text-danger': expiringDanger(adventurer.expires), 'text-warning': expiringWarning(adventurer.expires), 'text-success': expiringSuccess(adventurer.expires) }">{{readableTime(adventurer.expires - Date.now())}} remaining</div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>

</html>