<!-- Usage:
    <arcana v-model="character"></arcana>
-->

<template id="arcana">
    <fieldset>
        <h3>Arcana</h3>
        <div v-for="arcanum in getArcana()" key="arcanum.name" >
            <label class="col-xs-6 col-sm-3 col-md-2 control-label">{{arcanum.name}}</label>
            <csdots class="col-xs-6 col-sm-3 col-md-2" :value.sync="character[arcanum.name.toLowerCase()]" :min="0" :max="5"></csdots>
        </div>
    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue',
            'json!data/arcana.json'
        ],

        function(Vue, arcana) {
            console.log("Registering arcana template.")

            Vue.component('arcana', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#arcana',
                components: {},
                methods: {
                    getArcana: function() {
                        return arcana;
                    }
                }
            });
        });
</script>