<!-- Usage:
    <attributes v-model="character"></attributes>
-->

<template id="attributes">
    <fieldset>
        <h4 class="text-center">Attributes</h4>
        <div class=" col-xs-12 col-sm-6 col-md-4 ">
            <h5 class="text-center text-muted ">Mental</h5>
            <div v-for="attribute in getAttributesByCategory( 'Mental') " key="attribute.name ">
                <label class="col-xs-6 control-label text-right">{{attribute.name}}</label>
                <csdots class="col-xs-6 " :value.sync="character[attribute.name.toLowerCase()] " :min="1 " :max="character.physicalLimit()"></csdots>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <h5 class="text-center text-muted ">Physical</h5>
            <div v-for="attribute in getAttributesByCategory( 'Physical') " key="attribute.name ">
                <label class="col-xs-6 control-label text-right">{{attribute.name}}</label>
                <csdots class="col-xs-6 " :value.sync="character[attribute.name.toLowerCase()] " :min="1 " :max="character.physicalLimit()"></csdots>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <h5 class="text-center text-muted ">Social</h5>
            <div v-for="attribute in getAttributesByCategory( 'Social') " key="attribute.name ">
                <label class="col-xs-6 control-label text-right">{{attribute.name}}</label>
                <csdots class="col-xs-6 " :value.sync="character[attribute.name.toLowerCase()] " :min="1 " :max="character.physicalLimit()"></csdots>
            </div>
        </div>
    </fieldset>
</template>

<script type="text/javascript ">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue',
        'json!data/attributes.json'
    ],

        function (Vue, attributes) {
            console.log("Registering attributes template. ")

            Vue.component('attributes', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#attributes',
                components: {},
                methods: {
                    getAttributes: function () {
                        return attributes;
                    },
                    getAttributesByCategory: function (category) {
                        return attributes.filter(attribute => attribute.category == category);
                    }
                }
            });
        });
</script>