<!-- Usage:
    <character :character="character"></character>
-->

<template id="characterTemplate">
    <div>
        <!--
            TAB SELECTION LIVES IN THE NAV BAR VIEW MENU 
            <ul class="nav nav-tabs">
            <li class="active">
                <a href="#fullSheet" data-toggle="tab" aria-expanded="true"> Full Sheet </a>
            </li>
            <li class="">
                <a href="#tabs" data-toggle="tab" aria-expanded="false"> Tabs </a>
            </li>
        </ul> -->
        <div id="mainTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="fullSheet">
                <div class="form-group">
                    <personal v-model="character"></personal>
                    <attributes v-model="character"></attributes>
                    <skills v-model="character"></skills>
                    <specialties v-model="character"></specialties>
                    <merits v-model="character"></merits>
                    <flaws v-model="character"></flaws>
                    <arcana v-model="character"></arcana>
                    <health v-model="character"></health>
                    <mana v-model="character"></mana>
                    <willpower v-model="character"></willpower>
                    <gnosis v-model="character"></gnosis>
                    <activespells v-model="character"></activespells>
                    <wisdom v-model="character"></wisdom>
                    <inventory v-model="character"></inventory>
                    <notes v-model="character"></notes>
                    <logs v-model="character"></logs>
                </div>
            </div>
            <div class="tab-pane fade" id="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#personal" data-toggle="tab" aria-expanded="true">Personal</a>
                    </li>
                    <li class="">
                        <a href="#attributes" data-toggle="tab" aria-expanded="false">Attributes</a>
                    </li>
                    <li class="">
                        <a href="#skills" data-toggle="tab" aria-expanded="false">Skills</a>
                    </li>
                    <li class="">
                        <a href="#specialties" data-toggle="tab" aria-expanded="false">Specialties</a>
                    </li>
                    <li class="">
                        <a href="#merits" data-toggle="tab" aria-expanded="false">Merits</a>
                    </li>
                    <li class="">
                        <a href="#flaws" data-toggle="tab" aria-expanded="false">Flaws</a>
                    </li>
                    <li class="">
                        <a href="#arcana" data-toggle="tab" aria-expanded="false">Arcana</a>
                    </li>
                    <li class="">
                        <a href="#health" data-toggle="tab" aria-expanded="false">Health</a>
                    </li>
                    <li class="">
                        <a href="#willpower" data-toggle="tab" aria-expanded="false">Willpower</a>
                    </li>
                    <li class="">
                        <a href="#mana" data-toggle="tab" aria-expanded="false">Mana</a>
                    </li>
                    <li class="">
                        <a href="#gnosis" data-toggle="tab" aria-expanded="false">Gnosis</a>
                    </li>
                    <li class="">
                        <a href="#activespells" data-toggle="tab" aria-expanded="false">Active Spells</a>
                    </li>
                    <li class="">
                        <a href="#wisdom" data-toggle="tab" aria-expanded="false">Wisdom</a>
                    </li>
                    <li class="">
                        <a href="#inventory" data-toggle="tab" aria-expanded="false">Inventory</a>
                    </li>
                    <li class="">
                        <a href="#notes" data-toggle="tab" aria-expanded="false">Notes</a>
                    </li>
                    <li class="">
                        <a href="#logs" data-toggle="tab" aria-expanded="false">Logs</a>
                    </li>
                </ul>
                <div id="tabbedViewContent" class="tab-content">
                    <div class="tab-pane fade active in" id="personal">
                        <personal v-model="character"></personal>
                    </div>
                    <div class="tab-pane fade" id="attributes">
                        <attributes v-model="character"></attributes>
                    </div>
                    <div class="tab-pane fade" id="skills">
                        <skills v-model="character"></skills>
                    </div>
                    <div class="tab-pane fade" id="specialties">
                        <specialties v-model="character"></specialties>
                    </div>
                    <div class="tab-pane fade" id="merits">
                        <merits v-model="character"></merits>
                    </div>
                    <div class="tab-pane fade" id="flaws">
                        <flaws v-model="character"></flaws>
                    </div>
                    <div class="tab-pane fade" id="arcana">
                        <arcana v-model="character"></arcana>
                    </div>
                    <div class="tab-pane fade" id="health">
                        <health v-model="character"></health>
                    </div>
                    <div class="tab-pane fade" id="willpower">
                        <willpower v-model="character"></willpower>
                    </div>
                    <div class="tab-pane fade" id="mana">
                        <mana v-model="character"></mana>
                    </div>
                    <div class="tab-pane fade" id="gnosis">
                        <gnosis v-model="character"></gnosis>
                    </div>
                    <div class="tab-pane fade" id="activespells">
                        <activespells v-model="character"></activespells>
                    </div>
                    <div class="tab-pane fade" id="wisdom">
                        <wisdom v-model="character"></wisdom>
                    </div>
                    <div class="tab-pane fade" id="inventory">
                        <inventory v-model="character"></inventory>
                    </div>
                    <div class="tab-pane fade" id="notes">
                        <notes v-model="character"></notes>
                    </div>
                    <div class="tab-pane fade" id="logs">
                        <logs v-model="character"></logs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue'
    ],

        function (Vue) {
            console.log("Registering character template.")

            Vue.component('character', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#characterTemplate',
                components: {},
                methods: {}
            });
        });
</script>