<!-- Usage:
    <gnosis v-model="character"></gnosis>
-->
<template id="gnosis">
    <fieldset class="text-center">
        <h4>Gnosis</h4>
        <div>
            <img v-for="n in character.gnosis" src=".\img\dot-filled.png"><img v-for="n in unusedSpace()" src=".\img\dot-empty.png">
        </div>
        <div>
            <img src=".\img\delete.png" @click="character.adjustGnosis(-1)" />
            <img src=".\img\add.png" @click="character.adjustGnosis(1)" />
        </div>
    </fieldset>
</template>
<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue'
    ],

        function (Vue) {
            console.log("Registering gnosis template.")

            Vue.component('gnosis', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#gnosis',
                components: {},
                methods: {
                    unusedSpace: function () {
                        return 10 - this.character.gnosis;
                    }
                }
            });
        });
</script>