<!-- Usage:
    <gnosis v-model="character"></gnosis>
-->
<template id="gnosis">
    <fieldset>
        <h3>Gnosis</h3>
        <div style="float:clear;">
            <img v-for="n in character.gnosis" src=".\img\dot-filled.png"><img v-for="n in unusedSpace()" src=".\img\dot-empty.png">
            <img src=".\img\delete.png" @click="decrement"/>
            <img src=".\img\add.png" @click="increment" />
        </div>
    </fieldset>
</template>
<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue'
        ],

        function(Vue) {
            console.log("Registering gnosis template.")

            Vue.component('gnosis', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#gnosis',
                components: {},
                methods: {
                    unusedSpace: function() {
                        return 10 - this.character.gnosis;
                    },
                    increment: function() {
                        this.setValue(this.character.gnosis + 1);
                    },
                    decrement: function() {
                        this.setValue(this.character.gnosis - 1);
                    },
                    setValue: function(newValue) {
                        this.character.gnosis = Math.min(10, Math.max(newValue, 1));
                    }
                }
            });
        });
</script>