<!-- Usage:
    <health v-model="character"></health>
-->
<template id="health">
    <fieldset>
        <h3>Health</h3>
        <div>
            <img v-for="n in character.maxHealth()" src=".\img\dot-filled.png"><img v-for="n in unusedSpace()" src=".\img\dot-empty.png">
        </div>
        <div>
            <img v-for="n in character.aggravatedDamage" src=".\img\box-asterix.png"><img v-for="n in character.lethalDamage" src=".\img\box-cross.png"><img v-for="n in character.bashingDamage" src=".\img\box-stroke.png"><img v-for="n in undamaged()" src=".\img\box-empty.png"><img v-for="n in unusedSpace()" src=".\img\box-empty-grey.png">
        </div>
        <div>
            <img src=".\img\delete.png" @click="character.healDamage('A', 1)"/>
            <img src=".\img\box-asterix.png">
            <img src=".\img\add.png" @click="character.addAggravatedDamage()" />

            <img src=".\img\delete.png" @click="character.healDamage('L', 1)"/>
            <img src=".\img\box-cross.png">
            <img src=".\img\add.png" @click="character.addLeathalDamage()" />
                
            <img src=".\img\delete.png" @click="character.healDamage('B', 1)"/>
            <img src=".\img\box-stroke.png">
            <img src=".\img\add.png" @click="character.addBashingDamage()" />
        </div>
    
    </fieldset>
</template>
<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue'
        ],

        function(Vue) {
            console.log("Registering health template.")

            Vue.component('health', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#health',
                components: {},
                methods: {
                    undamaged: function() {
                        return Math.max(0, this.character.maxHealth() - (this.character.bashingDamage + this.character.lethalDamage + this.character.aggravatedDamage));
                    },
                    emptyDots: function() {
                        return 15 - this.character.maxHealth();
                    },
                    unusedSpace: function() {
                        return 15 - this.character.maxHealth();
                    }
                }
            });
        });
</script>