<!-- Usage:
    <mana v-model="character"></mana>
-->
<template id="mana">
    <fieldset class="text-center">
        <h4>Mana</h4>
        <div>
            <img v-for="n in character.mana" src=".\img\box-stroke.png">
            <img v-for="n in unusedSpace()" src=".\img\box-empty-grey.png">
        </div>
        <div>
            <img src=".\img\delete.png" @click="character.adjustMana(-1)" />
            <img src=".\img\add.png" @click="character.adjustMana(1)" />
        </div>
        <div>
            <strong>{{character.maxManaPerTurn()}}</strong> mana per turn.
        </div>
    </fieldset>
</template>
<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue'
    ],

        function (Vue) {
            console.log("Registering mana template.")

            Vue.component('mana', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#mana',
                components: {},
                methods: {
                    unusedSpace: function () {
                        return this.character.maxMana() - this.character.mana;
                    }
                }
            });
        });
</script>