<!-- Usage:
    <mana v-model="character"></mana>
-->
<template id="mana">
    <fieldset>
        <h3>Mana</h3>
        <div>
            <img v-for="n in character.mana" src=".\img\box-stroke.png">
            <img v-for="n in unusedSpace()" src=".\img\box-empty-grey.png">
            <img src=".\img\delete.png" @click="character.adjustMana(-1)"/>
            <img src=".\img\add.png" @click="character.adjustMana(1)" />
        </div>
    </fieldset>
</template>
<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue'
        ],

        function(Vue) {
            console.log("Registering mana template.")

            Vue.component('mana', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#mana',
                components: {},
                methods: {
                    unusedSpace: function() {
                        return 20 - this.character.mana;
                    }
                }
            });
        });
</script>