<!-- Usage:
    <merits v-model="character"></merits>
-->

<template id="merits">
    <fieldset>
        <legend>Merits</legend>
            <div class="col-xs-12 col-sm-6 col-lg-4" v-for="(merit, index) in character.merits">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="merit.name" @input="updateMerit(index, merit)">
                    <div class="input-group-addon"><csdots :value.sync="merit.dots" :min="1" :max="5"></csdots></div>
                    <div class="input-group-addon btn-danger" @click="removeMerit(index)">❌</div>
                </div>
                
            </div>
            <div class="col-xs-12">
                <button class="btn btn-xs btn-info" @click="addMerit()">➕</button>
            </div>
        <!-- <csdots v-for="merit in getmerits()" key="merit.name" :value.sync="character[merit.name.toLowerCase()]" :label="merit.name"
            :min="0" :max="5"></csdots> -->
    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue',
            'json!data/merits.json'
        ],

        function(Vue, merits) {
            console.log("Registering merits template.")

            Vue.component('merits', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#merits',
                components: {},
                methods: {
                    addMerit: function() {
                        this.character.merits.push({
                            name: "",
                            dots: 1
                        });
                    },
                    removeMerit: function(index) {
                        this.character.merits.splice(index, 1);
                    },
                    updateMerit: function(index, merit) {
                        this.character.merits[index] = merit;
                    }
                }
            });
        });
</script>