<!-- Usage:
    <personal v-model="character"></personal>
-->

<template id="personal">
    <fieldset>
        <h3>Personal</h3>
        
        <cstext :value.sync="character.name" :label="'Name'"></cstext>
        <cstext :value.sync="character.age" :label="'Age'"></cstext>
        <cstext :value.sync="character.player" :label="'Player'"></cstext>
        <cstext :value.sync="character.chronicle" :label="'Chronicle'"></cstext>
        <cstext :value.sync="character.concept" :label="'Concept'"></cstext>
        <cstext :value.sync="character.virtue" :label="'Virtue'"></cstext>
        <cstext :value.sync="character.vice" :label="'Vice'"></cstext>
        <cstext :value.sync="character.path" :label="'Path'"></cstext>
        <cstext :value.sync="character.order" :label="'Order'"></cstext>
        <cstext :value.sync="character.cabal" :label="'Cabal'"></cstext>
        
        <cstext :value.sync="character.size" :label="'Size'"></cstext>
        <cstext :value="character.defense()" :label="'Defense'"></cstext>
        <cstext :value="character.initiativeMod()" :label="'Initiative Mod'"></cstext>
        <cstext :value="character.speed()" :label="'Speed'"></cstext>
        <cstext :value.sync="character.experience" :label="'Experience'"></cstext>
        <cstext :value.sync="character.cabalExperience" :label="'Cabal Experience'"></cstext>
        <cstext :value.sync="character.arcaneExperience" :label="'Arcane Experience'"></cstext>

    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue'
        ],

        function(Vue) {
            console.log("Registering personal template.")

            Vue.component('personal', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#personal',
                components: {},
                methods: {}
            });
        });
</script>