<!-- Usage:
    <skills v-model="character"></skills>
-->

<template id="skills">
    <fieldset>
        <h4 class="text-center">Skills</h4>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5 class="text-center text-muted ">Mental</h5>
            <div v-for="skill in getSkillsByCategory('Mental')" key="skill.name">
                <label class="col-xs-6 control-label text-right">{{skill.name}}</label>
                <csdots class="col-xs-6" :value.sync="character[skill.name.toLowerCase()]" :min="0" :max="character.physicalLimit()"></csdots>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5 class="text-center text-muted ">Physical</h5>
            <div v-for="skill in getSkillsByCategory('Physical')" key="skill.name">
                <label class="col-xs-6 control-label text-right">{{skill.name}}</label>
                <csdots class="col-xs-6" :value.sync="character[skill.name.toLowerCase()]" :min="0" :max="character.physicalLimit()"></csdots>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h5 class="text-center text-muted ">Social</h5>
            <div v-for="skill in getSkillsByCategory('Social')" key="skill.name">
                <label class="col-xs-6 control-label text-right">{{skill.name}}</label>
                <csdots class="col-xs-6" :value.sync="character[skill.name.toLowerCase()]" :min="0" :max="character.physicalLimit()"></csdots>
            </div>
        </div>
    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue',
        'json!data/skills.json'
    ],

        function (Vue, skills) {
            console.log("Registering skills template.")

            Vue.component('skills', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#skills',
                components: {},
                methods: {
                    getSkills: function () {
                        return skills;
                    },
                    getSkillsByCategory: function (category) {
                        return skills.filter(skill => skill.category == category);
                    }
                }
            });
        });
</script>