<ul class="nav nav-tabs">
    <li class="active">
        <a style="padding: 8px;" href="#idleAdventurers" data-toggle="tab" aria-expanded="false">
            <img :src="SpriteManager().getIcon('idle')" width="20px" />
            <span class="badge">{{AdventurerManager().countAdventurersAtStatus('Idle')}}</span>
        </a>
    </li>
    <li>
        <a style="padding: 8px;" href="#recoveringAdventurers" data-toggle="tab" aria-expanded="false">
            <img :src="SpriteManager().getIcon('recovering')" width="20px" />
            <span class="badge">{{AdventurerManager().countAdventurersAtStatus('Recovering')}}</span>
        </a>
    </li>
    <li>
        <a style="padding: 8px;" href="#questingAdventurers" data-toggle="tab" aria-expanded="false">
            <img :src="SpriteManager().getIcon('questing')" width="20px" />
            <span class="badge">{{AdventurerManager().countAdventurersAtStatus('Questing')}}</span>
        </a>
    </li>
    <li>
        <a style="padding: 8px;" href="#injuredAdventurers" data-toggle="tab" aria-expanded="false">
            <img :src="SpriteManager().getIcon('injured')" width="20px" />
            <span class="badge">{{AdventurerManager().countAdventurersAtStatus('Injured')}}</span>
        </a>
    </li>
    <li>
        <a style="padding: 8px;" href="#deadAdventurers" data-toggle="tab" aria-expanded="false">
            <img :src="SpriteManager().getIcon('dead')" width="20px" />
            <span class="badge">{{AdventurerManager().countAdventurersAtStatus('Dead')}}</span>
        </a>
    </li>
</ul>
<div id="adventurerTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="idleAdventurers">
        <div class="col-md-12 text-center text-muted">Idle Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Idle')">
            <adventurer :adventurer="adventurer"></adventurer>
        </div>
    </div>
    <div class="tab-pane fade" id="recoveringAdventurers">
        <div class="col-md-12 text-center text-muted">Recovering Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Recovering')">
            <adventurer :adventurer="adventurer"></adventurer>
        </div>
    </div>
    <div class="tab-pane fade" id="questingAdventurers">
        <div class="col-md-12 text-center text-muted">Questing Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Questing')">
            <adventurer :adventurer="adventurer"></adventurer>
        </div>
    </div>
    <div class="tab-pane fade" id="injuredAdventurers">
        <div class="col-md-12 text-center text-muted">Injured Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Injured')">
            <adventurer :adventurer="adventurer"></adventurer>
        </div>
    </div>
    <div class="tab-pane fade" id="deadAdventurers">
        <div class="col-md-12 text-center text-muted">Deceased Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Dead')">
            <adventurer :adventurer="adventurer"></adventurer>
        </div>
    </div>
</div>