<!-- <div class="input">
    <label>Filter
        <input type="input" v-model="options.messagesFilter"/>
    </label>
</div> -->
<table class="table table-striped table-hover ">
    <tr v-for="message in MessageManager().getMessages()">
        <td>{{message.message}}</td>
        <td><span v-if="!OptionsManager().getOptions().showMessageTimeAsRealTime">{{TimeManager().getGameTime(message.time).toString()}}</span>
            <span v-if="OptionsManager().getOptions().showMessageTimeAsRealTime">{{new Date(message.time).toLocaleString()}}</span>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs pull-right" @click="MessageManager().dismissMessage(message)">X
        </td>
    </tr>
</table>