<span v-if="messages.length == 0" class="text-muted text-center col-xs-12">No messages</span>
<!-- <div class="input">
    <label>Filter
        <input type="input" v-model="options.messagesFilter"/>
    </label>
</div> -->
<table class="table table-striped table-hover ">
    <tr v-for="message in messages">
        <td>{{message.message}}</td>
        <td><span v-if="!options.showMessageTimeAsRealTime">{{getGameTime(message.time).toString()}}</span><span v-if="options.showMessageTimeAsRealTime">{{new Date(message.time).toLocaleString()}}</span></td>
        <td>
            <button type="button" class="btn btn-danger btn-xs pull-right" @click="dismissMessage(message)">X
        </td>
    </tr>
</table>
