<ul class="nav nav-tabs">
    <li class="active">
        <a href="#questContracts" data-toggle="tab" aria-expanded="false">Quests
            <span class="badge">{{LocationManager().getJobContractsAtCurrentLocation()}}</span>
        </a>
    </li>
    <li>
        <a href="#adventurerContracts" data-toggle="tab" aria-expanded="false">Adventurers
            <span class="badge">{{LocationManager().getAdventurerContractsAtCurrentLocation()}}</span>
        </a>
    </li>
</ul>
<div id="noticesTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="questContracts">
        <!-- <span v-if="LocationManager().getCurrentLocation().availableContracts.length == 0" class="text-muted text-center col-xs-12">No contracts</span> -->
        <div class="col-md-6 col-lg-4" v-for="contract in LocationManager().getCurrentLocation().availableContracts" key="contract.name">
            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="panel-title ">{{contract.name}}</h3>
                </div>
                <!-- <div class="panel-body"></div> -->
                <div class="panel-footer">
                    <div v-bind:class="{ 'text-danger': NoticeManager().expiringDanger(contract.expires), 'text-warning': NoticeManager().expiringWarning(contract.expires), 'text-success': NoticeManager().expiringSuccess(contract.expires) }">{{TimeManager().readableTime(contract.expires - Date.now())}} remaining
                        <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#contractDetails" @click="NoticeManager().viewContract(contract)">Details</button>
                        <button type="button" class="btn btn-xs btn-danger pull-right" @click="QuestManager().rejectContract(contract)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="adventurerContracts">
        <!-- <span v-if="LocationManager().getCurrentLocation().availableAdventurers.length == 0" class="text-muted text-center col-xs-12">No adventurers for hire</span> -->
        <div class="col-md-6 col-lg-4" v-for="notice in LocationManager().getCurrentLocation().availableAdventurers" key="adventurer.name">

            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="panel-title ">
                        <adventurername :adventurer="notice.adventurer"></adventurername>
                    </h3>
                </div>
                <div class="panel-body">
                    <img src="./img/icons/crown-coin.png" width="16px" /> {{notice.adventurer.wage}} per hour
                    <img src="./img/icons/crown-coin.png" width="16px" /> {{notice.adventurer.cut}}% of earnings
                </div>
                <div class="panel-footer">
                    <div v-bind:class="{ 'text-danger': NoticeManager().expiringDanger(notice.expires), 'text-warning': NoticeManager().expiringWarning(notice.expires), 'text-success': NoticeManager().expiringSuccess(notice.expires) }">{{TimeManager().readableTime(notice.expires - Date.now())}} remaining
                        <button type="button" class="btn btn-xs pull-right" v-bind:class="{ 'btn-success': AdventurerManager().canHire(notice.adventurer), 'btn-primary': !AdventurerManager().canHire(notice.adventurer) }"
                            @click="AdventurerManager().hire(notice)" :disabled="!AdventurerManager().canHire(notice.adventurer)">Hire ({{AdventurerManager().getCost(notice.adventurer)}} coins)</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>