<ul class="nav nav-tabs">
    <li class="active">
        <a href="#runningQuests" data-toggle="tab" aria-expanded="false">Running
            <span class="badge">{{QuestManager().getRunningQuests().length}}</span>
        </a>
    </li>
    <li>
        <a href="#finishedQuests" data-toggle="tab" aria-expanded="false">Finished
            <span class="badge">{{QuestManager().getCompletedQuests().length}}</span>
        </a>
    </li>
</ul>
<div id="questTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="runningQuests">
        <span v-if="QuestManager().getRunningQuests().length == 0" class="text-muted text-center col-xs-12">No running quests</span>
        <div class="col-md-6" v-for="quest in QuestManager().getRunningQuests()" key="quest.id">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{quest.contract.name}}</h3>
                </div>
                <div class="panel-body">
                    <div v-if="quest.tasks.length !== 0">
                        <h4>Timeline</h4>
                        <ul>
                            <li v-for="task in quest.tasks">
                                <template v-if="QuestManager().isTaskNewDay(quest, task)">
                                    <em>{{TimeManager().getGameTime(task.startTime).toDateString()}}</em>
                                </template>
                                <template v-if="task.status == 'complete'">
                                    <em>{{TimeManager().getGameTime(task.startTime).toTimeString()}}</em>:
                                    <span style="font-weight: bold">{{task.name}}</span>
                                    <template v-if="task.attempt > 1">({{task.attempt}})</template>
                                <span v-if="task.skillTest === undefined" class='text-info'>Complete</span>
                                <template v-else>
                                        <span v-if="task.success" class="text-success">Success</span>
                                        <span v-if="!task.success" class="text-warning">Fail</span>
                                    </template>
                                <template v-if="task.injury && task.injury.length !== 0">
                                        <ul>
                                            <li>{{task.injury.adventurer.name.full}} suffered
                                                <span class="text-danger">{{task.injury.injury.injuryType}} {{task.injury.injury.bodyPart}}</span>
                                            </li>
                                        </ul>
                                    </template>

                                <template v-if="task.casualties && task.casualties.length !== 0">
                                        <ul>
                                            <li v-for="adventurer in task.casualties">
                                                {{adventurer.name.full}} has
                                                <span class="text-danger">died</span> from {{task.injury.injury.injuryType}} {{task.injury.injury.bodyPart}}.
                                            </li>
                                        </ul>
                                    </template>
                                </template>
                                <template v-if="task.status == 'in-progress'">
                                    <em>{{TimeManager().getGameTime(task.startTime).toTimeString()}}</em>: {{task.name}}
                                    <span class="text-info">({{task.partyEfficiency}} efficiency) {{TimeManager().readableTime(task.finishes - Date.now())}} remaining</span>
                                    <ul v-if="task.skillTest">
                                        <li>{{task.skillTest}} test</li>
                                        <li>Difficulty: {{task.difficulty}}</li>
                                        <li>Party Skill: {{task.partySkill}}</li>
                                    </ul>
                                </template>
                            </li>
                        </ul>
                    </div>
                    <h4>Party</h4>
                    <ul>
                        <li v-for="adventurer in quest.party">
                            <adventurername :adventurer="adventurer"></adventurername>
                        </li>
                    </ul>
                    <div v-if="quest.tasks.length === 0">
                        <div class="progress progress-striped active">
                            <div class="progress-bar" v-bind:style="{ width: QuestManager().questProgress(quest) + '%' }"></div>
                        </div>
                        <div v-bind:class="{ 'text-success': NoticeManager().expiringDanger(quest.expires), 'text-warning': NoticeManager().expiringWarning(quest.expires), 'text-danger': NoticeManager().expiringSuccess(quest.expires) }">{{TimeManager().readableTime(quest.expires - Date.now())}} remaining</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="finishedQuests">
        <span v-if="QuestManager().getCompletedQuests().length == 0" class="text-muted text-center col-xs-12">No finished quests</span>
        <div class="col-md-6" v-for="quest in QuestManager().getCompletedQuests()" key="quest.id">
            <div class="panel" :class="{ 'panel-success': quest.success, 'panel-danger': !quest.success}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{quest.contract.name}}
                        <button type="button" class="close" @click="QuestManager().removeQuest(quest)">&times;</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div v-if="!quest.tasks">
                        <span class="text-info">{{quest.completionMessage}}</span>
                    </div>
                    <div v-if="quest.tasks">
                        <h4>Timeline:</h4>
                        <ul>
                            <li v-for="task in quest.tasks">
                                <template v-if="QuestManager().isTaskNewDay(quest, task)">
                                    <em>{{TimeManager().getGameTime(task.startTime).toDateString()}}</em>
                                </template>
                                <template v-if="task.status == 'complete'">
                                    <em>{{TimeManager().getGameTime(task.startTime).toTimeString()}}</em>:
                                    <span v-if="task.required" style="font-weight: bold">{{task.name}}</span>
                                    <span v-else>{{task.name}}</span>
                                    <template v-if="task.attempt > 1">({{task.attempt}})</template>
                                <span v-if="task.skillTest === undefined" class='text-info'>Complete</span>
                                <template v-else>
                                        <span v-if="task.success" class="text-success">Success</span>
                                        <span v-if="!task.success" class="text-warning">Fail</span>
                                    </template>
                                <template v-if="task.injury && task.injury.length !== 0">
                                        <ul>
                                            <li>{{task.injury.adventurer.name.full}} suffered
                                                <span class="text-danger">{{task.injury.injury.injuryType}} {{task.injury.injury.bodyPart}}</span>
                                            </li>
                                        </ul>
                                    </template>

                                <template v-if="task.casualties && task.casualties.length !== 0">
                                        <ul>
                                            <li v-for="adventurer in task.casualties">
                                                {{adventurer.name.full}} has
                                                <span class="text-danger">died</span> from {{task.injury.injury.injuryType}} {{task.injury.injury.bodyPart}}.
                                            </li>
                                        </ul>
                                    </template>
                                </template>
                            </li>
                            <li>
                                <em>{{TimeManager().getGameTime(quest.finishTime).toTimeString()}}</em>: Quest ended</li>
                        </ul>
                    </div>
                    <!-- <div>Ran from {{TimeManager().getGameTime(quest.start).toString()}} to {{TimeManager().getGameTime(quest.expires).toString()}}</div> -->
                    <div v-if="quest.success">
                        <h4>Rewards</h4>
                        <div v-if="quest.contract.contractAmount != undefined" class="text-success">
                            <img src="./img/icons/crown-coin.png" width="24px" /> Contract amount: {{quest.contract.contractAmount}} coins
                        </div>
                        <div v-for="reward in quest.rewards">
                            <div class="text-success" v-if="reward.amount">
                                <img :src="SpriteManager().getIcon(reward.type)" width="24px" /> {{reward.amount}} {{reward.type}}</div>
                            <div class="text-success" v-if="reward.type == 'item'">
                                <img :src="SpriteManager().getIcon('item')" width="24px" /> {{reward.item.name}}</div>
                        </div>
                        <template v-if="quest.wagesPaid">
                            <h4>Wages paid</h4>
                            <div class="text-danger">
                                <img src="./img/icons/crown-coin.png" width="24px" /> -{{quest.wagesPaid}} coins</div>
                        </template>
                        <template v-if="quest.cutsTaken">
                            <h4>Cuts taken</h4>
                            <div class="text-danger">
                                <img src="./img/icons/crown-coin.png" width="24px" /> -{{quest.cutsTaken}} coins</div>
                        </template>

                    </div>
                    <div v-if="quest.survivors && quest.survivors.length !== 0">
                        <h4>Returned adventurers</h4>
                        <ul>
                            <li v-for="survivor in quest.survivors">
                                <adventurername :adventurer="survivor.adventurer"></adventurername>
                                <span class="text-success" v-if="survivor.coinsGained">+{{survivor.coinsGained}} coins</span>
                                <span class="text-success" v-if="survivor.xpGained">+{{survivor.xpGained}} XP</span>
                                <span class="text-danger" v-if="survivor.injuriesGained">+{{survivor.injuriesGained.injuryType}} {{survivor.injuriesGained.bodyPart}}</span>
                            </li>
                        </ul>
                    </div>
                    <div v-if="quest.casualties && quest.casualties.length !== 0">
                        <h4>Deaths</h4>
                        <ul>
                            <li v-for="adventurer in quest.casualties">
                                <span class="text-danger">{{adventurer.name.full}}</span> ({{adventurer.type}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>