<ul class="nav nav-tabs">
    <li class="active">
        <a href="#runningQuests" data-toggle="tab" aria-expanded="false">Running <span class="badge">{{runningExpeditions.length}}</span></a>
    </li>
    <li>
        <a href="#finishedQuests" data-toggle="tab" aria-expanded="false">Finished <span class="badge">{{completedExpeditions.length}}</span></a>
    </li>
</ul>
<div id="questTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="runningQuests">
        <span v-if="runningExpeditions.length == 0" class="text-muted text-center col-xs-12">No running quests</span>
        <div class="col-md-6" v-for="expedition in runningExpeditions" key="expedition.id">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{expedition.contract.name}}</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li v-for="adventurer in expedition.party">
                            {{adventurer.name.full}}
                        </li>
                    </ul>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" v-bind:style="{ width: expeditionProgress(expedition) + '%' }"></div>
                    </div>
                    <div v-bind:class="{ 'text-success': expiringDanger(expedition.expires), 'text-warning': expiringWarning(expedition.expires), 'text-danger': expiringSuccess(expedition.expires) }">{{readableTime(expedition.expires - Date.now())}} remaining</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="finishedQuests">
        <span v-if="completedExpeditions.length == 0" class="text-muted text-center col-xs-12">No finished quests</span>
        <button v-if="claimAllVisible()" type="button" class="btn btn-success btn-xs pull-right" @click="claimAllCompletedExpeditions()">Claim All</button>
        <div class="col-md-6" v-for="expedition in completedExpeditions" key="expedition.id">
            <div class="panel" :class="{ 'panel-success': expedition.success, 'panel-danger': !expedition.success}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{expedition.contract.name}}
                        <button v-if="expedition.success" type="button" class="btn btn-xs btn-default pull-right" @click="claimReward(expedition)">Claim</button>
                        <button v-if="!expedition.success" type="button" class="btn btn-xs btn-default pull-right" @click="removeExpedition(expedition)">Dismiss</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <span class="text-info">{{expedition.completionMessage}}</span>
                    <span v-if="expedition.casualaties.length !== 0" class="text-warning">{{expedition.contract.deathMessage}}</span>
                    <div v-if="expedition.success">
                        <h4>Rewards</h4>
                        <div v-if="expedition.contract.contractAmount != undefined" class="text-success"><img src="./img/icons/crown-coin.png" width="24px" /> {{expedition.contract.contractAmount}} coins</div>
                        <div v-for="reward in expedition.rewards">
                            <div class="text-success" v-if="reward.amount"><img :src="getIcon(reward.type)" width="24px" /> {{reward.amount}} {{reward.type}}</div>
                            <div class="text-success" v-if="reward.type == 'item'"><img :src="getIcon('item')" width="24px" /> {{reward.item.name}}</div>
                        </div>
                    </div>
                    <div v-if="expedition.survivors.length !== 0">
                        <h4>Returned adventurers</h4>
                        <ul>
                            <li v-for="adventurer in expedition.survivors">
                                {{adventurer.name.full}} ({{adventurer.type}})
                            </li>
                        </ul>
                    </div>
                    <div v-if="expedition.casualaties.length !== 0">
                        <h4>Deaths</h4>
                        <ul>
                            <li v-for="adventurer in expedition.casualaties">
                                <span class="text-danger">{{adventurer.name.full}}</span> ({{adventurer.type}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>